<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>domotica</display-name>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	

	
	<!--************************************************************************ 
	 								SPRING 3										   
	 ***************************************************************************-->
	<listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener> 
    
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/app-config.xml, /WEB-INF/security-context.xml</param-value>
	</context-param>
    
    <listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
  	</listener>
  	
  	  	  	 	
  	<servlet>
		<servlet-name>spring_MVC</servlet-name>
		<servlet-class>	org.springframework.web.servlet.DispatcherServlet</servlet-class>
		 <init-param>
    		 <param-name>contextConfigLocation</param-name>
      		<param-value>/WEB-INF/empty.xml</param-value><!-- Arquivo de configuração vazio para evitar o carregamento duplicado de configurações -->
   		 </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>spring_MVC</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>spring_MVC</servlet-name>
		<url-pattern>/controleweb</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- Filtro Dao -->
	<filter>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	<!-- Filtro Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	

 	<!-- ================================================================== -->
    <!-- TAGS																-->
    <!-- ================================================================== -->

    <jsp-config>
	   
	    <taglib>
	        <taglib-uri>http://www.domoticaweb.com.br/mytags</taglib-uri>
	        <taglib-location>/WEB-INF/myTagLib.tld</taglib-location>
	    </taglib>

	</jsp-config>
    <!-- ================================================================== -->
    <!-- FIM TAGS																-->
    <!-- ================================================================== -->
	
	
	


</web-app>